@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html {
    font-size: 16px;
}
/*
!!! УБРАТЬ _1
*/
.header_1 {
    display: flex;
    justify-content: space-between;
    background: #222629;
    align-items: center;
    padding: 10px 10%;
}
.header_1 a img {
    max-width: 7vw;
    max-height: 7vw;
    cursor: pointer;
}   
.header_1__nav ul {
    list-style: none;
}
.header_1__nav ul li {
    display: inline-block;
    padding: 0 20px;
}
.header_1__nav ul li a {
    font-size: .9rem;
    transition: all 0.3s ease 0s;
}
.header_1__nav ul li a:hover {
    color:#000;
}

.header_1 li, a, button {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}


.header_1__auth-link {
    background-color:#000;
    color: #fff;
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
}

.header_1__auth-link:hover {
    background-color: #fff;
    color: #000;
}

@media only screen and (max-width: 500px) {
    .header_1 {
        display: flex;
        justify-content: space-between;
        background: #222629;
        align-items: center;
        padding: 5px 5px;
    }

    .header_1__nav ul li {
        padding: 0 5px;
    }

    .header_1__nav ul li a {
        font-size: .7rem;
    }

    .header_1 li, a, button {
        font-size: .7rem;
    }
    .header_1__auth-link {
        padding: 5px 10px;
    }
}
@media only screen and (max-width: 300px) {
    .header_1 {
        display: flex;
        justify-content: space-between;
        background: #222629;
        align-items: center;
        padding: 5px 5px;
    }

    .header_1__nav ul li {
        padding: 0 5px;
    }

    .header_1__nav ul li a {
        font-size: .5rem;
    }

    .header_1 li, a, button {
        font-size: .5rem;
    }
    .header_1__auth-link {
        padding: 5px 10px;
    }
}