@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*
Container styles
*/
.none {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
}

.container__page {
    width: 80vw;
    background:#fff;
}

input[type=file] {
    display: none;
}





/*
Edit Courses styles
*/
.course__show__block {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.course__show__block-content {
    width: 60%;
}
.course__show__block-edit {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.course__show__block-delete {
    width: 20%;
}
.course__show__block-delete button, .course__show__block-edit button {
    background: #fff;
    color: #494347;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.course__show__block-delete button:hover, .course__show__block-edit button:hover {
    color: #726a6f;
}
.course__show__block-content.primary {
    width: 100%;
}
.course__edit__block-file input[type=file] {
    display: none;
}
.file-btn{
    color: #42b983;
    position: relative;
    border-radius: 99px;
    border: 1px solid #42b983;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all .22s;
    cursor: pointer;
    margin-right: 1rem;
}
.primary {
    background: #42b983;
    color: #fff;
}
/*
Profile Courses styles
*/
.profile__create {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.profile__create-inner {
    width: 35vw;
    padding: 30px;
    position: relative;
    max-width: 700px;
    margin: 30px auto 0;
    border-radius: 30px;
    background: #dce2e9;
}
 .profile__create-inner input, .profile__create-inner textarea {
    outline: none;
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
 }
 .profile__create-inner div {
     display: flex;
     justify-content: center;
     width: 100%;
 }
.profile__create-inner input[type="submit"] {
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    margin-top: 30px;
    background: #9fa8b4;
    border-bottom: 4px solid #828fa0;
    color: white;
    transition: all 0.3s ease 0s;
    font-size: 14px;
 }
.profile__create-inner input[type="submit"]:hover {
    background: #a3b2c7;
 }
 .profile__create-inner textarea {
    resize: none;
 }
 .profile__create-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #000;
 }
.profile__create form textarea {
    outline: none;
    resize: none;
    overflow: auto;
}
.profile__action__btns a, button {
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    transition: all 0.3s ease 0s;
    outline: none;
    cursor: pointer;
    color:#fff;
}
.green-btn {
    background: #2c6814;
}
.green-btn:hover {
    background: #66ac4a;
}
.red-btn {
    background: #7a0000;
}
.red-btn:hover {
    background: #c92323;
}
.yellow-btn {
    background: #f3d241;
}
.yellow-btn:hover {
    background: #eed97e;
}

/*
.profile__create .red-btn:hover {
    background: #c92323;
}

.profile__create .red-text {
    color: #7a0000;
    font-weight: bold;
}
*/

/*
Course list styles
*/
.course__list {
    font-family: "Montserrat", sans-serif;
}
.course__list h1 {
    font-size: 2rem;
}
.course__list__item {
    font-size: 14px;
    margin-bottom: 2.2em;
    display: flex;
    justify-content: space-between;
}
/*
.course__list__item div.course__list__sub-item-second  {
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.course__list__item div.course__list__sub-item-second:hover {
    opacity: 1;
}
*/
.course__list__item-heading {
    font-size: 1.6em;
}
.course__list__item-author {
    font-style: italic;
}
.course__list__sub-item-first {
    width: 60%;
    cursor: pointer;
}
.course__list__sub-item-second {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}
.course__list__sub-item-second a {
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.course__list__sub-item-second.show a {
    opacity: 1;
    
}
.edit-icon {
    transition: all 0.3s ease 0s;
    color:#497c49;
 }
.edit-icon:hover {
    transition: all 0.3s ease 0s;
    color:#3ea13e;
}
.delete-icon {
    transition: all 0.3s ease 0s;
    color: #7a0000;
}
.delete-icon:hover {
    transition: all 0.3s ease 0s;
    color: #c92323;
}
@media only screen and (max-width: 600px) {
    .container__page {
        width: 100%;
    }
    
    .profile__create-inner {
        width: 90vw;
        padding: 30px;
        position: relative;
        max-width: 700px;
        margin: 30px auto 0;
        border-radius: 30px;
        background: #dce2e9;
    }
}