@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    background: #f5e1af;
    font-family: "Montserrat", sans-serif;
}
.container {
    display: flex;
    justify-content: center;
}

.container__page {
    width: 80vw;
    background:#fff;
}
.container__page__block-create {
    display: flex;   
    justify-content: center;
    flex-direction: column;
}

.container__page__btn {
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    transition: all 0.3s ease 0s;
    outline: none;
    cursor: pointer;
}
.green-btn {
    background: #2c6814;
}
.green-btn:hover {
    background: #66ac4a;
}
.red-btn {
    background: #7a0000;
}
.red-btn:hover {
    background: #c92323;
}

.red-text {
    color: #7a0000;
    font-weight: bold;
}
.courses {
    
}