@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
// vars:
$container_width:90%;
$basic_indent:20px;
$bg_main_color: #f5eea3;
$bg_block_color: #386825;
$bg_block_color_light: #66ac4a;
$error_color: #d32a00;
$error_color_light: #f36a47;
$success_color: #4ab81f;
$success_color_darken: #305c20;
$header_font_size: 20px;
$block_text_color: #000;
$border_dark_color: #18380c;
// templates
// ↓
%header-items {
    font-size: $header_font_size;
    cursor: pointer;
    margin: $basic_indent ($basic_indent * 1.5);
    color:#fff;
    transition: all .3s ease-in-out;
}
%header-items-hover {
    color:#66ac4a;
    border-color: #66ac4a;
}
%item-content {
    width: 100%;
    padding: 0 $basic_indent;
}
// ↑
// templates

// basic styles
// ↓
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
// ↑
// basic styles

// header
// ↓
.header {
    background: $bg_block_color;
    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        list-style: none;
    }
    &__list_item {
        display: inline-block;
    }
    &__link {
        font-size: $header_font_size * .8;
        &_logo {
            max-width: 100px;
            width: 50vw;
        }
        &_auth {
                border: $basic_indent / 6 solid #fff;
                padding: $basic_indent / 4;
        }
    }
    &__list_item a, &__link_auth{
        @extend %header-items;
    }
    &__list_item:hover a, &__link_auth:hover {
        @extend %header-items-hover;
    }
}
// ↑
// header

// main
// ↓
main {
    width: 100%;
    background:#fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.main-heading {
    max-width: 1000px;
    width: $container_width;
    padding-left: $basic_indent;
    background: $bg_main_color;
    h1, h2 {
        margin-top: $basic_indent;
        font-weight: bold;
        color: $bg_block_color;
        padding-left:   $basic_indent / 4;
        border-left: ($basic_indent / 2) solid $bg_block_color;
    }
}
// ↑
// main

// courses-list & item
// ↓
.courses-list {
    background: $bg_main_color;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    width: $container_width; 
    .courses-list__item{
        margin: $basic_indent;
    }
}
.item {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding-bottom: $basic_indent / 2;
    position: relative;
    transition: all .3s ease-in-out;
    .item__link-conrolls {
        display: flex;
        flex-flow: column;
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        transition: all .3s linear;
        &__add {
            cursor: pointer;
           .add-icon {
                transition: all .3s ease-in-out;
                color: rgb(9, 102, 1);
                &:hover {
                    color: #0a850a;
                }
           } 
        }
        .item__link-conrolls__edit {
            cursor: pointer; 
            .edit-icon {
                transition: all .3s ease-in-out;
                color: #fff;
                &:hover {
                    color: #bdbcbc;
                }
            }
        }
        .item__link-conrolls__delete {
            cursor: pointer; 
            
            .delete-icon {
                transition: all .3s ease-in-out;
                color: #000;
                &:hover {
                    color: #1a1a1a;
                }
            }
        }
    }
    &:hover {
        .item__link-conrolls {
            opacity: .8;
        }
        .item__link.editable {
            .item__image, .item__title, .item__author, .item__description {
                opacity: .7;
                transition: all .3s ease-in-out;
            }   
        }
    }
    .item__link {
        cursor: pointer;
        opacity: 1;
        color: #000;
        transition: all .3s ease-in-out;
        .item__image, .item__title, .item__author, .item__description {
            opacity: 1;
            transition: all .3s ease-in-out;
        }
    }
    .item__image {
        display: flex;
        justify-content: center;
        width: 100%;
        background: $bg_block_color;
        img{
            width: 100%;
            max-width: 400px;
            max-height: 200px;
            opacity: .5;
            transition: opacity .4s linear;
        }
        &:hover img {
            opacity: .8;
        }
    }
    .item__title {
       background: $bg_block_color_light; 
    }
    .item__description {
        padding-top: $basic_indent;
        font-size: $header_font_size * 2 / 3;
    }
    .item__author {
        font-style: italic;
        font-size: $header_font_size * 2 / 3;
        span {
            font-style: normal;
            font-weight: bold;
        }
    }
    .item__title, .item__description, .item__author {
        @extend %item-content;
    }
}
// ↑
// courses-list & item

// auth page
// ↓
.absolute {
    position: relative;
    a {
        position: absolute;
        top: 0;
        img {
            max-width: 100px;
            max-height: 100px;
            width: 50vw;
            height: 50vw;
            z-index: -2;
        }
    }
}
.auth {
    background: $bg_main_color;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
// ↑
// auth page

// auth form
// ↓
.auth__form {
    z-index: 2;
    background: #fff;
    &.form {
        h2 {
            font-size: ($header_font_size * 3 / 2);
        }
    }
}
// ↑
// auth form 

// create-course form
// ↓
.create-course {
    background: $bg_main_color;
    width: $container_width;
    max-width: 1000px;


}
.create-course__form {
    background: #fff;
}
// ↑
// create-course form

// global form
// ↓
.form {
    max-width: 400px;
    width: $container_width;
    margin: $basic_indent;
    padding: $basic_indent / 2;
    border-right: $basic_indent solid $bg_block_color;    
    &__input-textarea {
        resize: none;
    }
    &__input-file {
        display: none;
    }
    h2 {
        font-size: $header_font_size;
    }
    label {
        font-size: $header_font_size * 2 / 3;
    }

    &__input-text, &__input-textarea {
        background: #e4e4e4;
        border-width: 0;
        outline: none;
        width: 100%;
        padding: ($basic_indent / 4) ($basic_indent / 2);
        line-height: $header_font_size;
    }
    &__input-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: $basic_indent / 2 0;
    }
    &__feedback {  
        .error {
            color: $error_color;   
        }
        .success {
            color: $success_color;
        }
    }
    &__subtext {
        font-size: ($header_font_size * 3 / 5);
        margin: 0;
        &:first-child {
            margin-top: $header_font_size / 2;
        }
        a {
            text-decoration: underline;
            color: #999dfc;
            position: static;
            :hover {
                color: #3c8af3;
            }
        }
    }
    &__radio {
        display: flex;
        justify-content: center;
        input {
            margin: $basic_indent / 2 0;
            margin-left: ($basic_indent / 4);
        }
        label {
            margin: ($basic_indent * 2 / 5) 0;
        }
        >input {
            margin-right: $basic_indent;
        }
    }
    &__list {
        margin-bottom: $basic_indent;
    }
}
// ↑
// form prototype .form 

// buttons .btn
// ↓
.btn {
    &__submit{
        cursor: pointer;
        font-size: ($header_font_size * 5 / 6);
        color: #fff;
        background: $bg_block_color;
        border: none;
        outline: none;
        padding: ($basic_indent / 2);
        transition: all .3s ease-in;
        &:hover {
            color: $bg_block_color;   
            background: #e4e4e4;
        }
        &:active {
            background: #c2f1af;
        }
    }
    .wide {
        width: 100%;
    }
    .wide-medium {
        font-size: $header_font_size * 2 / 3;
        width: 30%;
    }
    .accept {
        background: $border_dark_color;
        color: #fff;
        &:hover {
            background: $success_color_darken;
        }
    }
    .decline {
        background: $error_color;
        color: #fff;
        &:hover {
            background: $error_color_light;
        }
    }
    .accept, .decline {
        cursor: pointer;
        margin: 0 $basic_indent;
        padding: ($basic_indent / 2) $basic_indent;
    }
}
// ↑
// button

// course show, blocks, course save
// ↓
.course-save__btn {
    display: flex;
    justify-content: center;
}

.course-show {
    max-width: 1000px;
    width: $container_width;
    background: $bg_main_color;
    &__blocks {
        padding: $basic_indent;
    }
    &__edit {
        background: $bg_main_color;
        &_form {
            background: #fff;

        }
    }
    &__preview {

        &-block {
            display: flex;
            align-items: center;
            flex-flow: column;
            img, video {
                margin-bottom: $basic_indent;
            }
            h4 {
                font-size: $header_font_size * 1.5;
                &.title {
                    color: $bg_block_color;
                }
            }
        }
    }
}

.blocks { 
    color: $block_text_color;
    &__text{
        position: relative;
        display: flex;
        background: #f5f2d1;
        margin: ($basic_indent) 0; 
        p {
            font-size: ($header_font_size * 4 / 5);
            &.editable {
                width: 90%;
            }
        }
        h3 {
            border-left: ($basic_indent * 2 / 5) solid $block_text_color;   
            font-size: ($header_font_size * 6 / 5);
            &.editable {
                width: 90%;
            }
        }
        p, h3 {
            padding: $basic_indent / 2;
            padding-left: ($basic_indent * 2 / 5);
        }
        &_order {
            position: absolute;
            transition: all .5s linear;
            top: 0;
            right: 0;
            button {
                border: none;
                outline: none;
                background: #f5f2d1;
                transition: all .5s linear;
                margin-right: $basic_indent / 4;
                :hover {
                    background: #f0e67b;
                }
            }
        }
    }
    // &__order {
    //     display: none;
    //     &.editable {
    //         display: block;
    //         width: 30%;
    //     }
    // }
    &__image, &__video, &__animation {
        position: relative;
        display: flex;
        justify-content: center;
        margin: ($basic_indent) 0; 
        &_order {
            position: absolute;
            transition: all .5s linear;
            top: 0;
            right: 0;
            button {
                border: none;
                outline: none;
                background: #f5f2d1;
                transition: all .5s linear;
                margin-right: $basic_indent / 4;
                :hover {
                    background: #f0e67b;
                }
            }
        }
    } 
}
// ↑
// course show, blocks, course save

// media content size
// ↓
    .big {
        img, video {
            width: 100%;
            height: 70vh;
            max-height: 600px;
        }
    }
    .medium {
        img, video {
            width: 75%;
            height: 70vh;
            max-height: 500px;
        }
    }
    .small {
        img, video {
            width: 50%;
            height: 70vh;
            max-height: 400px;
        }
    }

    .none {
        display: none;
    }


    // adaptive part

    // mobile devices
    @media only screen and (max-width: 500px) {
        .big {
            img, video {
                width: 100%;
                height: 70vh;
                max-height: 200px;
            }
        }
        .medium {
            img, video {
                width: 75%;
                height: 50vh;
                max-height: 150px;
            }
        }
        .small {
            img, video {
                width: 50%;
                height: 50vh;
                max-height: 100px;
            }
        }
    }
// ↑
// media content size


// tests
// ↓
.question {
    display: flex;
    flex-direction: column;
    margin-bottom: $basic_indent / 2 * 3;
    input[type=text], textarea, span {
        max-width: 300px;
        width: 70%;
    }
    input[type=radio], input[type=checkbox] {
        margin: ($basic_indent / 4) 0;
    }
    textarea {
        resize: none;
    }
    input[type=text], span {
        margin-bottom: ($basic_indent / 4);
        padding: ($basic_indent / 4) 0;
        background: #f5f2d1;
    }
}

// ↑
// tests



// extra
// ↓
.change-ref {
    color: #b6aa27;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-left: $basic_indent / 2;
    &:hover {
        color: #e4d95d;
    }
}
// ↑
// extra
